<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean id="placeHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations" value="resources/datasource.properties"></property>
	</bean>
	
	<bean id="application" class="com.xworkz.spring.component.Application">
	<property name="appName" value="${app.name}"></property>
	</bean>
	
	<!-- Task program Application1 
	<bean id="application1" class="com.xworkz.spring.component.Application1">
	<property name="name" value="${app.name}"></property>
	<property name="version" value="${app.version}"></property>
	<property name="type" value="${app.type}"></property>
	<property name="active" value="${app.active}"></property>
	</bean> -->
	
	
	<bean id="dmds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<constructor-arg value="${app.url}"></constructor-arg>
	<constructor-arg value="${app.userName}"></constructor-arg>
	<constructor-arg value="${app.password}"></constructor-arg>
	<property name="driverClassName" value="${app.driver}"></property>
	
	</bean>
</beans>